<div class="side-bar">
    <ul>
        <li [routerLink]="['home']">Home</li>
        <li [routerLink]="['addStudent']">Add Student</li>
        <li [routerLink]="['studentDetails']">Student details</li>
        <li [routerLink]="['attendance']">Attendance</li>
        <li [routerLink]="['attendanceDetails']">Attendance details</li>
        <li [routerLink]="['assignments']">Assignments</li>
        <li [routerLink]="['assignmentsDetails']">Assignment details</li>
        <li routerLink="./editProfile">Edit Profile</li>
    </ul>
</div>