.add-student{
    max-height: 659px;
    overflow-y: auto;
    overflow-x: hidden;
}
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
.form-select{
    width: 290px;
   height: 38px;
   margin-bottom: 25px;
}
.form-inline{
    width: 260px;
}
label{
    padding-right: 45px;
    margin-bottom: 25px;
}
.floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;

	.floating-label {
		font-size: 13px;
		color: #cccccc;
		position: absolute;
		pointer-events: none;
		top: 9px;
		left: 12px;
		transition: all 0.1s ease;
	}

	input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label {
		top: -25px;
		bottom: 0px;
        font-weight: 500;
		left: 0px;
		font-size: 15px;
		opacity: 1;
		color: #404040;
        span{
            color: red;
        }
	}
}
.floating-label-group{
    margin-top: 30px;
}.floating-label-group1{
    margin-top: 20px;
}
.form-control{
    width: 290px;
}
#fileInput{
    display: none;
}
.img-size{
    width: 25px;
    height: 25px;
}
.btn-color{
    background-color: pink;
}
.plus-img-align{
    width: 86px;
    height: 55px;
    opacity: 0.8;
    position: relative;
    left: -118px;
    top: 85px;
}
.avatar-align{
    position: absolute;
    left: 364px;
    bottom: -40px;
}