.align{
    width: 338px;
    height: 150px;  
    margin-top: 250px;  
    margin-left: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.aligns{
    width: 406px;
    height: 150px; 
    margin-left: 250px;
    margin-top: 250px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}