<div class="container-fluid">
<nav class="navbar navbar-expand-lg">
    <h3 style="position: absolute;">Welome {{userDetail.firstName}} {{userDetail.lastName}}</h3>
        <input class="form-control mr-sm-2 position" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <a routerLink="/login"><img (click)="signOut()" style="width:111 px;height: 40px; margin-left: 50px;;" src="assets\img\icons8-exit-sign-48.png" alt=""></a>
  </nav>
</div>