.floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;

	.floating-label {
		font-size: 13px;
		color: #cccccc;
		position: absolute;
		pointer-events: none;
		top: 9px;
		left: 12px;
		transition: all 0.1s ease;
	}

	input:focus ~ .floating-label,
	input:not(:focus):valid ~ .floating-label {
		top: -25px;
		bottom: 0px;
        font-weight: 500;
		left: 0px;
		font-size: 15px;
		opacity: 1;
		color: #404040;
        span{
            color: red;
        }
	}
}
.floating-label-group{
    margin-top: 30px;
}
.form-control{
    width: 290px;
  }