<div class="email-val background-color" *ngIf='show== "email"'>
    <h5 style="padding-top:20px ; margin-left:70px">
         Enter your valid email id
    </h5>
    <div style="margin-left:45px; margin-top: 35px;" class="floating-label-group">
        <input type="email"  class="form-control" [(ngModel)]="emailValidate" autocomplete="off" required />
        <label class="floating-label">Email</label>
        </div>
    <button style="margin-left: 280px;" class="btn btn-primary" (click)="submit()">Next</button>
</div>


<div  *ngIf = 'show=="otp"'>
    <div class="card card-align background-color">
        <div class="card-body">
            <h5 style="margin-bottom: -15px;">Enter OTP</h5><br>
            <span style="font-weight:600 ;">Check your email for the OTP</span>
            <div style="margin-left:30px ; margin-top:30px" class="floating-label-group">
                <input type="text"  class="form-control" [(ngModel)]="otpVerfication" autocomplete="off" required />
                <label class="floating-label">One Time Password</label>
            </div> 
            <button type="button" (click)="verify()" class="btn btn-primary btn-size p-color btn-align">Submit</button>
        </div>
       
      </div>
      
</div>
<div *ngIf = 'show== "password"'>
    <div class="card card-align background-color">
        <div class="card-body">
            <h5>Create a new password</h5>
            <div style="margin-left:30px ; margin-top:30px"  class="floating-label-group">
                <input type="password"  class="form-control" [(ngModel)]="newPassword" autocomplete="off" required />
                <label class="floating-label">New Password</label>
            </div>
            <div style="margin-left:30px ; margin-top:30px" class="floating-label-group">
                <input type="password"  class="form-control" [(ngModel)]="confirmPassword" autocomplete="off" required />
                <label class="floating-label">Confirm Password</label>
            </div>
            <!-- <span>New Password</span>
            <input type="password" [(ngModel)]="newPassword"> 
            <span>Confirm Password</span>
            <input type="password" [(ngModel)]="confirmPassword">  -->
            <button type="button" (click)="newPass()" class="btn btn-primary btn-size p-color btn-align">Submit</button>
        </div>
       
      </div>
      
</div>
